:root{
   --success-color:green;
   --error-color:red;       
}
body{
   font-family: 'Open Sans',sans-serif;       
}
.container{
      background-color: #fff; 
      border: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);  
      width: 450px; 
      margin: auto;
      text-align: center;
      padding: 10px;
}
h2{
  color: tomato;        
}
.form-control{
    padding: 20px; 
    position: relative;     
}

.form-control label{
        color: #777; 
        display: block;
       
        text-align: justify;
}

.form-control input{
   border: 2px solid #f0f0f0;  
   border-radius: 5px; 
   padding: 10px; 
   width: 90%;  
   font-size: 15px; 
}

.form-control input:focus{
     border-color: #777;  
     outline: none;   
}
.form-control.success{
  border-color: var(--success-color)      
}

.form-control.error{
          border-color: var(--error-color)      
  }

  .form-control small{
    color: var(--error-color);  
    position: absolute;   
    bottom: 0px;
    left: 40px; 
    visibility: hidden;
  }

  .form-control.error small{
         visibility: visible;
  }

  .btn{
   cursor: pointer;
   background-color: #3498db;  
   border:2px solid #3498db;
   border-radius: 4px;
   color: #fff;  
   display: block;  
   padding: 10px;
   font-size: 16px; 
   margin-top: 20px;
   margin: 10% auto;
   width: 80%;
  }